.chat-modal
  .chat-modal__overlay
  .chat-modal__content.bg-primary-dark
    .chat-modal__content--header
      .header__icon
        svg(viewBox="0 0 24 24" class="fill-primary")
          g
            path(d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z")
      h2.header__title Nuevo mensaje
      button.button.next Siguiente
    .chat-modal__content--search
      input(id="search" placeholder="Buscar personas" autofocus="true" autocomplete="off").search__input
      svg(viewBox="0 0 24 24" class="search__icon")
          g
            path(d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z")
    .chat-modal__content--body
      .body__item
        figure.profile
          img(src="https://pbs.twimg.com/profile_images/1166817046707015680/anCazRsE_normal.png", alt="El Comercio")
        .info DevCode
          span @DevCodeLa