header
    span Inicio
    div
        img(src="", alt="")
div
    div 
        img(src="https://pbs.twimg.com/media/CXfFIEuWQAACkR7.png", alt="")
        input(type="text" placeholder="¿Qué está pasando?")
    div
        div
            i(class="")
            i(class="")
            i(class="")
            i(class="")
            i(class="")
        button


    
