div(class="searcher")
    div(class="searcher__container") 
        img(src="https://pbs.twimg.com/media/CXfFIEuWQAACkR7.png", alt="")
        input(type="text" placeholder="¿Qué está pasando?")
    div(class="searcher__multimedia")
        div(class="multimedia")
            i(class="")
            i(class="")
            i(class="")
            i(class="")
            i(class="")
        button Twittear


    
