  aside(class="menu")
    a(href="#") Inicio
      i
    a(href="#") Explorar
      i
    a(href="#") Notificaciones
      i
    a(href="#") Mensajes
      i
    a(href="#") Guardados
      i
    a(href="#") Listas
      i
    a(href="#") Perfil
      i
    a(href="#") Más opciones
      i
    button(class="menu__button") Twittear