nav(class="menu") 
  div(class="menu__container")
    a(href="#") Inicio
      i(class="fas fa-home")
  div(class="menu__container")
    a(href="#" class="") Explorar
      i(class="fas fa-hashtag")
  div(class="menu__container")
    a(href="#" class="") Notificaciones
      i(class="far fa-bell")
  div(class="menu__container")
    a(href="#" class="") Mensajes
      i(class="far fa-envelope")
  div(class="menu__container")
    a(href="#" class="") Guardados
      i(class="far fa-bookmark")
  div(class="menu__container")
    a(href="#" class="") Listas
      i(class="fa fa-list-alt")
  div(class="menu__container")
    a(href="#" class="") Perfil
      i(class="far fa-user")
  div(class="menu__container")
    a(href="#" class="") Más opciones
      i(class="far fas fa-ellipsis-h")
  button(class="menu__twittear") Twitter
  