nav(class="menu") 
  div
    i(class="fas fa-home")
    a(href="#" class="menu__a") Inicio
  div
    i
    a(href="#" class="menu__a") Explorar
  div
    i
    a(href="#" class="menu__a") Notificaciones
  div
    i
    a(href="#" class="menu__a") Mensajes
  div
    i
    a(href="#" class="menu__a") Guardados
  div
    i
    a(href="#" class="menu__a") Listas
  div
    i
    a(href="#" class="menu__a") Perfil
  div
    i
    a(href="#" class="menu__a") Más opciones
  button Twitter
  