aside(class="menu")
  a(href="#" class="menu__inicio") Inicio
    i
  a(href="#" class="menu__explorar") Explorar
    i
  a(href="#" class="menu__notificaciones") Notificaciones
    i
  a(href="#" class="menu__mensajes") Mensajes
    i
  a(href="#" class="menu__guardados") Guardados
    i
  a(href="#" class="menu__listas") Listas
    i
  a(href="#" class="menu__perfil") Perfil
    i
  a(href="#" class="menu__masopciones") Más opciones
    i
  button(class="menu__twittear") Twittear
  block sidebar 