<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chat
  body
    include ../components/_chat-modal.pug
    .container__feed.bg-primary-dark
      include ../components/_chat.pug