extends ../components/_layout.pug
block content
    section(class="container")
        div(class="container__left")
        div(class="container__center")
        div(class="container__right")
        div(class="container__center2")


    
