extends ../components/_layout.pug
block content
    section(class="layoutcontainer")
        div(class="layoutcontainer--left")
             include ../components/_sidebar.pug 
        div(class="layoutcontainer--center")
            include ../components/_header.pug
            include ../components/_searcher.pug   
        div(class="layoutcontainer--center2")
        div(class="layoutcontainer--right")
        


    
