extends ../components/_layout.pug
block content
    section(class="layoutcontainer")
        div(class="layoutcontainer--left")
            include ../components/_sidebar.pug    
        div(class="layoutcontainer--center")
        div(class="layoutcontainer--right")
        div(class="layoutcontainer--center2")


    
