extends ../components/_layout.pug
block content
    section(class="container")
        div(class="container--left")
        div(class="container--center")
        div(class="container--right")
        div(class="container--center2")


    
