<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        div(class="login")
            form(action="" class="login__form")
                div(class="form__logo")
                    img(src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-4.png", alt="twitter_logo")
                h1(class="form__h1") Iniciar sesión en Twitter
                input(type="text" placeholder="Teléfono, correo o usuario" class="form__input")
                input(type="text" class="form__input")
                button(class="form__boton" value="Iniciar sesión")
                div(class="form__recovery")
                    a(href="#") ¿Olvidaste tu contraseña? 
                    a(href="#") Regístrate en Twitter




