include ../components/_header.pug
block content
  .content__header
    header.header
      .header__icon
        a(href="/login.html")
          img(src=require("../../assets/icon/Twitter_Logo_Blue.svg").default, alt="twitter-icon")
      .header__text
        p Restablecimiento de contraseña
      .header__selection
        ul
          li
            select.selection--option
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
              option(value="Espanol") Espanol
    .page__container
      .container
        .container__header
          div Encuenta tu cuenta de Twitter
          p 
            |Ingresa tu correo electrónico, 
            |número de teléfono o nombre de usuario.
        .container__form
          form
            input(type="text", name="twitter-account")
            input(type="submit", value="Buscar") 