main.layout {
	.layout__main {
		display: flex;
		flex-direction: column;
	}
	@include custom-respond-to(900px) {
		height: 100vh;
		display: grid;
		grid-template: 1fr auto / 1fr;
		.layout__main {
			flex-direction: row;
		}
		.main__info,
		.main__action {
			width: 50%;
		}
		.main__action {
			&--form {
				display: flex;
				justify-content: center;
				padding: 0 30px;
				margin-bottom: 20px;
			}
			form {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.form__group {
					margin-right: 15px;
					position: relative;
					width: 40%;
					height: 56px;
					background-color: $color-primary-dark-semi-light;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding-top: 5px;
					.form__label {
						width: 100%;
						line-height: 20px;
						color: $color-dark-light;
						padding-left: 10px;
						padding-right: 10px;
						overflow: hidden;
					}
					.form__input {
						order: 1;
						outline: none;
						width: 100%;
						color: $color-light;
						font-size: $font-size-19;
						padding-left: 10px;
						padding-right: 10px;
						padding-top: 2px;
						border: none;
						background: transparent;
						border-bottom: $border-light;
						&:focus {
							border-bottom: $border-blue;
						}
						&:focus ~ .form__label {
							color: $color-primary;
						}
					}
					.form__link {
						text-decoration: none;
						color: $color-primary;
						position: absolute;
						width: 100%;
						top: calc(100% + 5px);
						left: 10px;
						line-height: 17px;
						font-size: $font-size-13;
					}
				}
				button {
					@include button($color-primary, $color-primary-dark);
				}
			}
		}
		.main__info {
			order: 1;
			height: 100%;
			&--logo {
				position: absolute;
				width: 200%;
				bottom: 100%;
				transform: translate(-52%, -48%);
			}
			&--content {
				flex-direction: column;
				justify-content: center;
				gap: 40px;
			}
		}
	}
}

.main__info {
	height: 230px;
	order: 2;
	position: relative;
	width: 100%;
	padding: 15px;
	background-color: $color-primary-light;
	overflow: hidden;
	&--logo {
		position: absolute;
		width: 140%;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include custom-respond-to(600px) {
			left: 70%;
			width: 80%;
		}
	}
	&--content {
		height: 100%;
		width: 100%;
		position: relative;
		color: $color-light;
		font-size: $font-size-19;
		font-weight: $font-weight-semi-bold;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		@include custom-respond-to(600px) {
			width: 380px;
			margin: auto;
		}
	}
	.content {
		display: flex;
		align-items: center;
		&__icon {
			width: 29px;
			height: 29px;
		}
		&__text {
			margin-left: 15px;
		}
	}
	& .content:nth-child(2) {
		.content__icon {
			width: 43px;
			height: 43px;
		}
	}
	@include custom-respond-to(1024px) {
		.main__info {
			&--logo {
				width: 160%;
				transform: translate(-48%, -45%);
			}
		}
	}
}

.main__action {
	order: 1;
	padding: 15px;
	color: $color-light;
	&--form {
		display: none;
	}
	&-secondary {
		.secondary__text {
			font-weight: $font-weight-semi-bold;
			font-size: 30px;
			line-height: 39px;
			margin-top: 20px;
		}
		.secondary__title {
			font-weight: $font-weight-semi-bold;
			font-size: $font-size;
			line-height: 20px;
			margin: 59px 0 15px;
		}
		a {
			text-decoration: none;
			margin-bottom: 15px;
			display: flex;
			@include button;
			justify-content: center;
			align-items: center;
		}
		& a:last-child {
			@include button($color-primary, $color-primary-dark);
		}
		@include custom-respond-to(600px) {
			width: 380px;
			margin: auto;
		}
	}
}

.main__buttons {
	order: 3;
	padding: 40px 15px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	a {
		@include button();
		@include custom-respond-to(600px) {
			width: 180px;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}
	a.button__secondary {
		@include button($color-primary, $color-primary-dark);
	}
	@include custom-respond-to(800px) {
		display: none;
	}
}

nav.layout__nav {
	width: 100%;
	color: $color-light;
	padding: 10px 15px;
	font-size: $font-size-13;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 15px;
	row-gap: 5px;
	.layout__nav--link {
		text-decoration: none;
		color: $color-dark-light;
		margin: 5px 0;
	}
}
