.content__header {
  box-shadow: 0 0 3px #aaa;
  display: block;
  height: 40px;
  width: 100%;
}

.header {
  align-items: center;
  border-bottom: 0 solid rgba(0, 0, 0, 0.25);
  display: flex;
  height: 40px;
  margin: 0 auto;
  position: relative;
  width: 590px;


  &__icon {
    display: block;
    height: 35px;
    margin-right: 6px;
    width: 35px;
  }
  
  &__text {
    color: $color-dark-light;
    font-family: 'helvetica-neue-italic', sans-serif;
    font-size: $font-size-13;
    font-weight: $font-weight-semi-bold;
  }
  
  &__selection {
    left: calc(100% - 100px);
    position: absolute;
    
    ul {
      list-style: none;
    }
  }
}

.selection--option {
  color: $color-dark-light;
  font-size: $font-size-13;
  font-weight: $font-weight;
}

.page__container {
  background: white;
  margin: 10px auto 20px;
  max-width: 590px;
}

.container {
  display: block;
  padding: 36px 0;


  &__header {
    margin-bottom: 36px;
    width: 100%;
    
    div {
      color: $color-dark;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 36px;
    }

    p {
      color: $color-dark-semi-light;
      font-family: 'helveticaneuebold', sans-serif;
      font-size: $font-size - 1;
      font-style: italic;
      font-weight: $font-weight;
    }
  }

  &__form {
    display: block;

    input[type=text] {
      @include button($color-dark,$color-light, $color-dark);
      outline: none;
      width: 300px;
    }

    input[type=submit] {
      @include button;
      display: block;
      margin-top: 25px;
      min-width: 20px;
    }
  }
}
