.bg-primary-dark {
  background-color: $color-primary-dark;
}

.fill-primary {
  fill: $color-primary;
}

.fill-light {
  fill: $color-light;
}


.mb-1 {
  margin-bottom: 1.2em;
}


.d-flex {
  display: flex;
}
